@import url("https://fonts.googleapis.com/css?family=Varela+Round&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

main {
  width: 85%;
  margin: auto;
}

.form {
  background: linear-gradient(#7f8688, #f2f7f4);
  height: 100vh;
  padding: 15em 0;
}

#name,
#username {
  margin-bottom: -3em;
}
